examples/12-sogni-llm-artist-poem-email.json
{
  "name": "Sogni LLM Person Poem Page",
  "nodes": [
    {
      "parameters": {
        "content": "## Sogni LLM Person Poem Page\n\nGenerate a short rhyming witty poem about a named person with Sogni LLM and show it on the completion page.\n\n### Setup\n1. Install `n8n-nodes-sogni`\n2. Add Sogni credentials\n3. Open the form URL from `Ask For Person Name`\n4. Submit a person's name to run the workflow\n\n### Notes\n- This workflow picks the available chat model with the most workers\n- It asks for a person's name first, then uses that in the poem prompt\n- After submission, n8n shows the generated poem on the built-in n8n completion page\n- Update the prompt in `Select Chat Model + Prompt` if you want a different rhyme style",
        "height": 420,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        60
      ],
      "id": "sticky-llm-email-info",
      "name": "LLM Email Info"
    },
    {
      "parameters": {
        "formTitle": "Person Poem Request",
        "formDescription": "Enter a person's name and Sogni LLM will write a short witty rhyming poem and show it to you.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Person Name",
              "fieldName": "personName",
              "fieldType": "text",
              "placeholder": "e.g. David Bowie",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "person-form-trigger",
      "name": "Ask For Person Name",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        280
      ],
      "webhookId": "person-poem-request-form",
      "notes": "Submit the form with a person's name to trigger the poem workflow",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "llm",
        "operation": "getAll"
      },
      "id": "get-llm-models",
      "name": "Get All LLM Models",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "notes": "Fetches currently available Sogni chat models"
    },
    {
      "parameters": {
        "jsCode": "const models = $input.all()\n  .map((item) => item.json)\n  .sort((a, b) => (b.workerCount || 0) - (a.workerCount || 0));\n\nif (models.length === 0) {\n  throw new Error('No Sogni LLM models are available right now. Try again later.');\n}\n\nconst triggerJson = $('Ask For Person Name').first().json || {};\nconst personName = String(\n  triggerJson.personName ??\n  triggerJson['Person Name'] ??\n  triggerJson.body?.personName ??\n  triggerJson.body?.['Person Name'] ??\n  triggerJson.formData?.personName ??\n  triggerJson.formData?.['Person Name'] ??\n  ''\n).trim();\n\nif (!personName) {\n  throw new Error(`Person name is required. Trigger keys seen: ${Object.keys(triggerJson).join(', ') || '(none)'}`);\n}\n\nconst bestModel = models[0];\n\nreturn {\n  json: {\n    personName,\n    modelId: bestModel.id,\n    modelName: bestModel.label || bestModel.id,\n    workerCount: bestModel.workerCount || 0,\n    prompt: `Write a short witty rhyming poem about ${personName}. Keep it to six lines or fewer, clever, warm, and email-friendly. Mention the person by name.`,\n    systemPrompt: 'You are a concise poet. Reply in plain text only with the poem. No title, no markdown, no preamble, no closing signature.'\n  }\n};"
      },
      "id": "select-chat-model-and-prompt",
      "name": "Select Chat Model + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        280
      ],
      "notes": "Chooses the chat model with the most workers and prepares the poem prompt"
    },
    {
      "parameters": {
        "resource": "llm",
        "operation": "generate",
        "llmModelId": "={{ $json.modelId }}",
        "llmPrompt": "={{ $json.prompt }}",
        "llmSystemPrompt": "={{ $json.systemPrompt }}",
        "llmAdditionalFields": {
          "maxTokens": 220,
          "tokenType": "spark"
        }
      },
      "id": "write-person-poem",
      "name": "Write Person Poem",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [
        1020,
        280
      ],
      "notes": "Generates the poem with the selected Sogni LLM model"
    },
    {
      "parameters": {
        "jsCode": "const poem = String($json.content || '').trim();\n\nif (!poem) {\n  throw new Error('The Sogni LLM response was empty.');\n}\n\nconst personName = String($json.personName || 'this person');\nconst modelId = String($json.modelId || 'unknown-model');\nconst poemWithBreaks = poem.replace(/\\n/g, '<br>');\n\nreturn {\n  json: {\n    ...$json,\n    completionTitle: `Poem for ${personName}`,\n    completionMessage: `${poemWithBreaks}<br><br><small>Model: ${modelId}</small>`\n  }\n};"
      },
      "id": "format-page",
      "name": "Format Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        280
      ],
      "notes": "Formats the generated poem for the n8n form completion page"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "={{ $json.completionTitle }}",
        "completionMessage": "={{ $json.completionMessage }}",
        "options": {}
      },
      "id": "show-poem-page",
      "name": "Show Poem Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1520,
        280
      ],
      "notes": "Shows the generated poem using the built-in n8n form completion page"
    }
  ],
  "connections": {
    "Ask For Person Name": {
      "main": [
        [
          {
            "node": "Get All LLM Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All LLM Models": {
      "main": [
        [
          {
            "node": "Select Chat Model + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Chat Model + Prompt": {
      "main": [
        [
          {
            "node": "Write Person Poem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Person Poem": {
      "main": [
        [
          {
            "node": "Format Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Page": {
      "main": [
        [
          {
            "node": "Show Poem Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
