examples/13-sogni-llm-tool-calling-object-guessing-game.json
{
  "name": "Sogni LLM Tool Calling Object Guessing Game",
  "nodes": [
    {
      "parameters": {
        "content": "## Sogni LLM Tool Calling: Object Guessing Game\n\nPick a secret object from the built-in catalog and Sogni LLM will try to guess it in 20 moves using tool calls.\n\n### Flow\n1. Submit a secret object in the form\n2. Pick the most available chat model\n3. Let the model call local game-master tools\n4. Loop until the model guesses correctly or runs out of moves\n5. Show the full move log on the completion page\n\n### Why this matters\n- Demonstrates repeated OpenAI-style `tools` and `tool_choice`\n- Shows how to loop tool calls across multiple LLM turns in n8n\n- Keeps the secret object hidden from the model while the local tool answers questions",
        "height": 470,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        40
      ],
      "id": "sticky-tool-calling-info",
      "name": "Tool Calling Info"
    },
    {
      "parameters": {
        "formTitle": "Secret Object Guessing Game",
        "formDescription": "Enter one secret object from this list and Sogni LLM will try to guess it in 20 moves: umbrella, toaster, skateboard, telescope, pineapple, backpack, candle, keyboard, bicycle, mug.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Secret Object",
              "fieldName": "secretObject",
              "fieldType": "text",
              "placeholder": "e.g. umbrella",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "secret-object-form",
      "name": "Ask For Secret Object",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        160,
        280
      ],
      "webhookId": "tool-calling-secret-object-game",
      "notes": "Submit one of the built-in catalog objects to start the guessing game",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "llm",
        "operation": "getAll"
      },
      "id": "get-llm-models",
      "name": "Get All LLM Models",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [
        420,
        280
      ],
      "notes": "Fetches available Sogni chat models"
    },
    {
      "parameters": {
        "jsCode": "const models = $input.all()\n  .map((item) => item.json)\n  .sort((a, b) => (b.workerCount || 0) - (a.workerCount || 0));\n\nif (models.length === 0) {\n  throw new Error('No Sogni LLM models are available right now. Try again later.');\n}\n\nconst triggerJson = $('Ask For Secret Object').first().json || {};\nconst rawSecretObject = String(\n  triggerJson.secretObject ??\n  triggerJson['Secret Object'] ??\n  triggerJson.body?.secretObject ??\n  triggerJson.body?.['Secret Object'] ??\n  triggerJson.formData?.secretObject ??\n  triggerJson.formData?.['Secret Object'] ??\n  ''\n).trim();\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, ' ')\n  .trim();\n\nconst catalog = {\n  umbrella: { aliases: ['umbrella'], category: 'accessory' },\n  toaster: { aliases: ['toaster'], category: 'appliance' },\n  skateboard: { aliases: ['skateboard'], category: 'vehicle' },\n  telescope: { aliases: ['telescope'], category: 'instrument' },\n  pineapple: { aliases: ['pineapple'], category: 'food' },\n  backpack: { aliases: ['backpack'], category: 'container' },\n  candle: { aliases: ['candle'], category: 'home item' },\n  keyboard: { aliases: ['keyboard', 'computer keyboard'], category: 'electronics' },\n  bicycle: { aliases: ['bicycle', 'bike'], category: 'vehicle' },\n  mug: { aliases: ['mug', 'coffee mug'], category: 'drinkware' }\n};\n\nconst candidateObjects = Object.keys(catalog);\nconst aliasToCanonical = new Map();\nfor (const [name, info] of Object.entries(catalog)) {\n  aliasToCanonical.set(normalize(name), name);\n  for (const alias of info.aliases) {\n    aliasToCanonical.set(normalize(alias), name);\n  }\n}\n\nconst secretObject = aliasToCanonical.get(normalize(rawSecretObject));\nif (!secretObject) {\n  throw new Error(`Secret object must be one of: ${candidateObjects.join(', ')}`);\n}\n\nconst bestModel = models[0];\nconst systemPrompt = `You are playing a 20-questions style guessing game. The secret object is one of these candidates: ${candidateObjects.join(', ')}. You do not know which one. Use exactly one tool call per move. Use ask_question for short yes/no property questions. Use make_guess when you are confident. You have at most 20 moves total. Never answer directly without a tool call.`;\nconst userPrompt = 'Begin the game. Use your first move now.';\nconst fallbackPrompt = `${userPrompt} Candidate objects: ${candidateObjects.join(', ')}. Moves remaining: 20.`;\n\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'ask_question',\n      description: 'Ask one short yes/no question about the secret object.',\n      parameters: {\n        type: 'object',\n        properties: {\n          question: {\n            type: 'string',\n            description: 'A concise yes/no question about the object.'\n          }\n        },\n        required: ['question']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'make_guess',\n      description: 'Make a final guess for the secret object when you are confident.',\n      parameters: {\n        type: 'object',\n        properties: {\n          guess: {\n            type: 'string',\n            description: 'Your best guess for the secret object.'\n          }\n        },\n        required: ['guess']\n      }\n    }\n  }\n];\n\nconst messages = [\n  {\n    role: 'system',\n    content: systemPrompt\n  },\n  {\n    role: 'user',\n    content: userPrompt\n  }\n];\n\nreturn {\n  json: {\n    secretObject,\n    candidateObjects,\n    modelId: bestModel.id,\n    modelName: bestModel.label || bestModel.id,\n    workerCount: bestModel.workerCount || 0,\n    systemPrompt,\n    fallbackPrompt,\n    messages,\n    tools,\n    toolChoice: 'required',\n    maxMoves: 20,\n    movesUsed: 0,\n    moveLog: [],\n    outcome: 'playing',\n    isComplete: 0\n  }\n};"
      },
      "id": "build-guessing-game",
      "name": "Build Guessing Game",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ],
      "notes": "Validates the chosen secret object and prepares the multi-turn tool-calling game state"
    },
    {
      "parameters": {
        "resource": "llm",
        "operation": "generate",
        "llmModelId": "={{ $json.modelId }}",
        "llmPrompt": "={{ $json.fallbackPrompt }}",
        "llmSystemPrompt": "={{ $json.systemPrompt }}",
        "llmAdditionalFields": {
          "messagesJson": "={{ JSON.stringify($json.messages) }}",
          "toolsJson": "={{ JSON.stringify($json.tools) }}",
          "toolChoiceJson": "={{ $json.toolChoice }}",
          "maxTokens": 180,
          "tokenType": "spark"
        }
      },
      "id": "request-next-move",
      "name": "Request Next Move",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [
        980,
        280
      ],
      "notes": "Requests the next tool call from Sogni LLM"
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst toolCall = Array.isArray(state.toolCalls) ? state.toolCalls[0] : undefined;\n\nif (!toolCall) {\n  const contentPreview = String(state.content || '').trim().slice(0, 220);\n  throw new Error(\n    `Expected a tool call, but the model returned none. Model: ${state.modelId || 'unknown'}. ` +\n    `This usually means the selected model ignored tool calling or your installed Sogni node does not support Messages JSON / Tools JSON yet. ` +\n    `Previous content: ${contentPreview || '(empty)'}`\n  );\n}\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, ' ')\n  .trim();\n\nconst catalog = {\n  umbrella: {\n    aliases: ['umbrella'],\n    category: 'accessory',\n    portable: true,\n    handheld: true,\n    wearable: false,\n    outdoors: true,\n    indoors: false,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: false,\n    hasHandle: true,\n    weather: true,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['fabric', 'metal']\n  },\n  toaster: {\n    aliases: ['toaster'],\n    category: 'appliance',\n    portable: false,\n    handheld: false,\n    wearable: false,\n    outdoors: false,\n    indoors: true,\n    electric: true,\n    edible: false,\n    kitchen: true,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['metal', 'plastic']\n  },\n  skateboard: {\n    aliases: ['skateboard'],\n    category: 'vehicle',\n    portable: true,\n    handheld: false,\n    wearable: false,\n    outdoors: true,\n    indoors: false,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: true,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: true,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['wood', 'metal']\n  },\n  telescope: {\n    aliases: ['telescope'],\n    category: 'instrument',\n    portable: true,\n    handheld: false,\n    wearable: false,\n    outdoors: true,\n    indoors: false,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: true,\n    materials: ['metal', 'glass']\n  },\n  pineapple: {\n    aliases: ['pineapple'],\n    category: 'food',\n    portable: true,\n    handheld: true,\n    wearable: false,\n    outdoors: false,\n    indoors: true,\n    electric: false,\n    edible: true,\n    kitchen: true,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['plant']\n  },\n  backpack: {\n    aliases: ['backpack'],\n    category: 'container',\n    portable: true,\n    handheld: false,\n    wearable: true,\n    outdoors: true,\n    indoors: true,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: true,\n    optical: false,\n    materials: ['fabric']\n  },\n  candle: {\n    aliases: ['candle'],\n    category: 'home item',\n    portable: true,\n    handheld: true,\n    wearable: false,\n    outdoors: false,\n    indoors: true,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: true,\n    storage: false,\n    optical: false,\n    materials: ['wax']\n  },\n  keyboard: {\n    aliases: ['keyboard', 'computer keyboard'],\n    category: 'electronics',\n    portable: true,\n    handheld: false,\n    wearable: false,\n    outdoors: false,\n    indoors: true,\n    electric: true,\n    edible: false,\n    kitchen: false,\n    wheels: false,\n    hasHandle: false,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: false,\n    usedWithComputer: true,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['plastic']\n  },\n  bicycle: {\n    aliases: ['bicycle', 'bike'],\n    category: 'vehicle',\n    portable: false,\n    handheld: false,\n    wearable: false,\n    outdoors: true,\n    indoors: false,\n    electric: false,\n    edible: false,\n    kitchen: false,\n    wheels: true,\n    hasHandle: true,\n    weather: false,\n    usedForTransport: true,\n    usedForDrink: false,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['metal']\n  },\n  mug: {\n    aliases: ['mug', 'coffee mug'],\n    category: 'drinkware',\n    portable: true,\n    handheld: true,\n    wearable: false,\n    outdoors: false,\n    indoors: true,\n    electric: false,\n    edible: false,\n    kitchen: true,\n    wheels: false,\n    hasHandle: true,\n    weather: false,\n    usedForTransport: false,\n    usedForDrink: true,\n    usedWithComputer: false,\n    givesLight: false,\n    storage: false,\n    optical: false,\n    materials: ['ceramic']\n  }\n};\n\nconst secretObject = String(state.secretObject || '');\nconst secret = catalog[secretObject];\nif (!secret) {\n  throw new Error(`Unknown secret object: ${secretObject || '(empty)'}`);\n}\n\nconst aliasToCanonical = new Map();\nfor (const [name, info] of Object.entries(catalog)) {\n  aliasToCanonical.set(normalize(name), name);\n  for (const alias of info.aliases) {\n    aliasToCanonical.set(normalize(alias), name);\n  }\n}\n\nlet args = {};\ntry {\n  args = JSON.parse(toolCall.function.arguments || '{}');\n} catch {\n  args = {};\n}\n\nconst q = (text) => normalize(text);\nconst hasAny = (text, terms) => terms.some((term) => text.includes(term));\nconst yesNo = (value, clue) => ({ answer: value ? 'yes' : 'no', clue });\nconst unknown = (clue) => ({ answer: 'unknown', clue });\n\nconst answerQuestion = (question) => {\n  const questionText = q(question);\n  if (!questionText) return unknown('Empty question');\n\n  for (const [name, info] of Object.entries(catalog)) {\n    if ([name, ...info.aliases].some((alias) => questionText.includes(q(alias)))) {\n      return yesNo(name === secretObject, `Name check against ${name}`);\n    }\n  }\n\n  if (hasAny(questionText, ['electric', 'battery', 'plug', 'power'])) return yesNo(secret.electric, 'Power source');\n  if (hasAny(questionText, ['outside', 'outdoor', 'outdoors'])) return yesNo(secret.outdoors, 'Outdoor use');\n  if (hasAny(questionText, ['inside', 'indoor', 'indoors'])) return yesNo(secret.indoors, 'Indoor use');\n  if (hasAny(questionText, ['wear', 'worn', 'on your back'])) return yesNo(secret.wearable, 'Wearable');\n  if (hasAny(questionText, ['handheld', 'hand held', 'one hand', 'hold in your hand'])) return yesNo(secret.handheld, 'Handheld');\n  if (hasAny(questionText, ['portable', 'carry around'])) return yesNo(secret.portable, 'Portable');\n  if (hasAny(questionText, ['wheel', 'wheels', 'roll'])) return yesNo(secret.wheels, 'Wheels');\n  if (hasAny(questionText, ['handle', 'handles'])) return yesNo(secret.hasHandle, 'Handle');\n  if (hasAny(questionText, ['kitchen', 'cook', 'toast'])) return yesNo(secret.kitchen, 'Kitchen use');\n  if (hasAny(questionText, ['food', 'eat', 'edible', 'fruit'])) return yesNo(secret.edible, 'Edible');\n  if (hasAny(questionText, ['drink from', 'drinking', 'cup', 'coffee'])) return yesNo(secret.usedForDrink, 'Drink use');\n  if (hasAny(questionText, ['ride', 'transport', 'travel'])) return yesNo(secret.usedForTransport, 'Transport use');\n  if (hasAny(questionText, ['rain', 'weather', 'storm'])) return yesNo(secret.weather, 'Weather use');\n  if (hasAny(questionText, ['light', 'burn', 'flame'])) return yesNo(secret.givesLight, 'Light source');\n  if (hasAny(questionText, ['computer', 'type', 'typing', 'keys'])) return yesNo(secret.usedWithComputer, 'Computer use');\n  if (hasAny(questionText, ['look at stars', 'star', 'sky', 'far away', 'magnify', 'telescope'])) return yesNo(secret.optical, 'Optical use');\n  if (hasAny(questionText, ['bag', 'store things', 'hold things', 'storage'])) return yesNo(secret.storage, 'Storage use');\n  if (hasAny(questionText, ['metal'])) return yesNo(secret.materials.includes('metal'), 'Material');\n  if (hasAny(questionText, ['wood'])) return yesNo(secret.materials.includes('wood'), 'Material');\n  if (hasAny(questionText, ['fabric', 'cloth'])) return yesNo(secret.materials.includes('fabric'), 'Material');\n  if (hasAny(questionText, ['plastic'])) return yesNo(secret.materials.includes('plastic'), 'Material');\n  if (hasAny(questionText, ['glass'])) return yesNo(secret.materials.includes('glass'), 'Material');\n  if (hasAny(questionText, ['ceramic'])) return yesNo(secret.materials.includes('ceramic'), 'Material');\n  if (hasAny(questionText, ['wax'])) return yesNo(secret.materials.includes('wax'), 'Material');\n  if (hasAny(questionText, ['vehicle'])) return yesNo(secret.category === 'vehicle', 'Category');\n  if (hasAny(questionText, ['appliance'])) return yesNo(secret.category === 'appliance', 'Category');\n  if (hasAny(questionText, ['instrument'])) return yesNo(secret.category === 'instrument', 'Category');\n  if (hasAny(questionText, ['food item', 'food'])) return yesNo(secret.category === 'food', 'Category');\n  if (hasAny(questionText, ['drinkware'])) return yesNo(secret.category === 'drinkware', 'Category');\n  if (hasAny(questionText, ['electronics', 'electronic'])) return yesNo(secret.category === 'electronics', 'Category');\n  if (hasAny(questionText, ['container'])) return yesNo(secret.category === 'container', 'Category');\n  if (hasAny(questionText, ['accessory'])) return yesNo(secret.category === 'accessory', 'Category');\n\n  return unknown('Ask about category, use, material, power, portability, wheels, handle, weather, kitchen, food, light, computer use, or transport.');\n};\n\nconst moveNumber = Number(state.movesUsed || 0) + 1;\nconst maxMoves = Number(state.maxMoves || 20);\nconst remainingMoves = Math.max(maxMoves - moveNumber, 0);\n\nlet toolResult;\nlet actionText;\nlet resultText;\nlet guessedCorrectly = false;\n\nif (toolCall.function.name === 'ask_question') {\n  const question = String(args.question || '').trim();\n  const answer = answerQuestion(question);\n  toolResult = {\n    question,\n    answer: answer.answer,\n    clue: answer.clue,\n    remaining_moves: remainingMoves\n  };\n  actionText = `Asked: ${question || '(empty question)'}`;\n  resultText = `${answer.answer.toUpperCase()}${answer.clue ? ` - ${answer.clue}` : ''}`;\n} else if (toolCall.function.name === 'make_guess') {\n  const rawGuess = String(args.guess || '').trim();\n  const guessedObject = aliasToCanonical.get(normalize(rawGuess)) || normalize(rawGuess);\n  guessedCorrectly = guessedObject === secretObject;\n  toolResult = {\n    guess: rawGuess || guessedObject || '(empty guess)',\n    correct: guessedCorrectly,\n    remaining_moves: remainingMoves,\n    message: guessedCorrectly ? 'Correct guess.' : 'Wrong guess.'\n  };\n  actionText = `Guessed: ${rawGuess || guessedObject || '(empty guess)'}`;\n  resultText = guessedCorrectly ? 'Correct' : 'Wrong';\n} else {\n  throw new Error(`Unsupported tool call: ${toolCall.function.name}`);\n}\n\nconst priorMessages = Array.isArray(state.messages) ? state.messages : [];\nconst followUpMessages = [\n  ...priorMessages,\n  {\n    role: 'assistant',\n    content: state.content || null,\n    tool_calls: state.toolCalls\n  },\n  {\n    role: 'tool',\n    tool_call_id: toolCall.id,\n    name: toolCall.function.name,\n    content: JSON.stringify(toolResult)\n  }\n];\n\nconst moveLog = [\n  ...(Array.isArray(state.moveLog) ? state.moveLog : []),\n  {\n    move: moveNumber,\n    tool: toolCall.function.name,\n    action: actionText,\n    result: resultText\n  }\n];\n\nconst gameOver = guessedCorrectly || moveNumber >= maxMoves;\nconst outcome = guessedCorrectly ? 'guessed' : gameOver ? 'out_of_moves' : 'playing';\nconst transcriptSummary = moveLog\n  .map((entry) => `${entry.move}. ${entry.action} => ${entry.result}`)\n  .join('\\n');\nconst fallbackPrompt = `Continue the guessing game. Candidate objects: ${(state.candidateObjects || []).join(', ')}. Moves used: ${moveNumber}/${maxMoves}. Transcript so far:\\n${transcriptSummary}\\nUse exactly one tool now. If you are confident, call make_guess. Otherwise call ask_question with one short yes/no question.`;\n\nreturn {\n  json: {\n    ...state,\n    messages: followUpMessages,\n    movesUsed: moveNumber,\n    remainingMoves,\n    moveLog,\n    lastToolResult: toolResult,\n    fallbackPrompt,\n    outcome,\n    isComplete: gameOver ? 1 : 0\n  }\n};"
      },
      "id": "execute-local-tool",
      "name": "Execute Local Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        280
      ],
      "notes": "Runs the local game-master tool, updates the transcript, and decides whether the game is over"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.isComplete }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "game-complete",
      "name": "Game Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        280
      ],
      "notes": "Loops back for another move until the game is complete"
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\n\nconst escapeHtml = (value) => String(value || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst secretObject = String(state.secretObject || 'unknown object');\nconst modelId = String(state.modelId || 'unknown-model');\nconst movesUsed = Number(state.movesUsed || 0);\nconst maxMoves = Number(state.maxMoves || 20);\nconst outcome = String(state.outcome || 'unknown');\nconst title = outcome === 'guessed'\n  ? `Guessed ${secretObject} in ${movesUsed} moves`\n  : `Out of moves. Secret object: ${secretObject}`;\nconst summary = outcome === 'guessed'\n  ? 'Sogni LLM guessed the secret object.'\n  : `Sogni LLM did not guess the secret object within ${maxMoves} moves.`;\nconst moveLog = Array.isArray(state.moveLog) ? state.moveLog : [];\nconst transcriptHtml = moveLog.length\n  ? moveLog\n      .map((entry) => `<strong>${entry.move}.</strong> ${escapeHtml(entry.action)}<br><em>${escapeHtml(entry.result)}</em>`)\n      .join('<br><br>')\n  : 'No moves recorded.';\n\nreturn {\n  json: {\n    ...state,\n    completionTitle: title,\n    completionMessage: `${escapeHtml(summary)}<br><br><strong>Secret object:</strong> ${escapeHtml(secretObject)}<br><strong>Moves used:</strong> ${movesUsed}/${maxMoves}<br><strong>Model:</strong> ${escapeHtml(modelId)}<br><br>${transcriptHtml}`\n  }\n};"
      },
      "id": "format-result-page",
      "name": "Format Result Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ],
      "notes": "Formats the guessing-game result for the n8n form completion page"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "={{ $json.completionTitle }}",
        "completionMessage": "={{ $json.completionMessage }}",
        "options": {}
      },
      "id": "show-result-page",
      "name": "Show Result Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2000,
        160
      ],
      "notes": "Shows the full guessing-game transcript on the built-in n8n completion page"
    }
  ],
  "connections": {
    "Ask For Secret Object": {
      "main": [
        [
          {
            "node": "Get All LLM Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All LLM Models": {
      "main": [
        [
          {
            "node": "Build Guessing Game",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Guessing Game": {
      "main": [
        [
          {
            "node": "Request Next Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Next Move": {
      "main": [
        [
          {
            "node": "Execute Local Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Local Tool": {
      "main": [
        [
          {
            "node": "Game Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Complete?": {
      "main": [
        [
          {
            "node": "Format Result Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Next Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result Page": {
      "main": [
        [
          {
            "node": "Show Result Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
