examples/13-sogni-llm-describe-uploaded-image.json
{
  "name": "Sogni LLM Describe Uploaded Image",
  "nodes": [
    {
      "parameters": {
        "content": "## Sogni LLM Describe Uploaded Image\n\nDrag an image into the form, submit it, and Sogni LLM will describe what it sees.\n\n### Setup\n1. Install `n8n-nodes-sogni`\n2. Add Sogni credentials\n3. Open the form URL from `Upload Image`\n4. Drag an image into the upload field and submit\n\n### Notes\n- This uses a Form Trigger file upload field\n- The workflow converts the uploaded image into a data URL for Sogni vision chat\n- The result is shown on the browser completion page",
        "height": 400,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        60
      ],
      "id": "sticky-vision-info",
      "name": "Vision Info"
    },
    {
      "parameters": {
        "formTitle": "Describe My Image",
        "formDescription": "Upload an image and Sogni LLM will describe it for you.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Image Upload",
              "fieldName": "artistImage",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "upload-image-form",
      "name": "Upload Image",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        180,
        280
      ],
      "webhookId": "describe-uploaded-image-form",
      "notes": "Submit an uploaded image to trigger the vision example",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const uploadItem = $input.first();\nconst binaryEntries = Object.entries(uploadItem.binary || {});\n\nconst preferredKeys = ['artistImage', 'Image Upload', 'Image_Upload'];\nconst preferredEntry = preferredKeys\n  .map((key) => [key, uploadItem.binary?.[key]])\n  .find(([, value]) => value);\n\nconst imageEntry = preferredEntry || binaryEntries.find(([, value]) => {\n  const mimeType = String(value?.mimeType || '').toLowerCase();\n  return mimeType.startsWith('image/');\n});\n\nif (!imageEntry) {\n  const binaryKeys = binaryEntries.map(([key]) => key).join(', ') || '(none)';\n  throw new Error(`No uploaded image was found. Binary keys seen: ${binaryKeys}`);\n}\n\nconst [binaryPropertyName, binaryInfo] = imageEntry;\nconst rawMimeType = String(binaryInfo.mimeType || 'image/png').toLowerCase();\nconst supportedMimeTypes = new Set(['image/jpeg', 'image/jpg', 'image/png', 'image/webp', 'image/gif']);\nif (!supportedMimeTypes.has(rawMimeType)) {\n  throw new Error(\n    `Unsupported uploaded image MIME type: ${rawMimeType}. Use JPEG, PNG, WebP, or GIF.`\n  );\n}\n\nconst mimeType = rawMimeType === 'image/jpg' ? 'image/jpeg' : rawMimeType;\nconst fileName = binaryInfo.fileName || binaryPropertyName || 'uploaded-image';\n\nlet base64Data = '';\ntry {\n  const imageBuffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\n  base64Data = imageBuffer.toString('base64');\n} catch (error) {\n  const inlineData = typeof binaryInfo.data === 'string' ? binaryInfo.data.trim() : '';\n  if (inlineData) {\n    base64Data = inlineData.replace(/\\s+/g, '');\n  } else {\n    const message = error instanceof Error ? error.message : String(error);\n    throw new Error(\n      `Found uploaded image at binary.${binaryPropertyName}, but could not read its data. ${message}`\n    );\n  }\n}\n\nif (!/^[A-Za-z0-9+/=]+$/.test(base64Data)) {\n  throw new Error(`Uploaded image data for ${binaryPropertyName} is not valid base64.`);\n}\n\nconst estimatedBytes = Math.floor((base64Data.length * 3) / 4);\nconst maxRecommendedBytes = 20 * 1024 * 1024;\nif (estimatedBytes > maxRecommendedBytes) {\n  throw new Error(\n    `Uploaded image is too large for vision chat (${Math.round(estimatedBytes / (1024 * 1024))} MB). Keep it under 20 MB.`\n  );\n}\n\nconst modelId = 'qwen3.5-35b-a3b-gguf-q4km';\nconst modelSelectionReason = 'Using the documented Sogni VLM model directly to keep the uploaded binary on the active item stream.';\nconst dataUrl = `data:${mimeType};base64,${base64Data}`;\nconst messages = [\n  {\n    role: 'system',\n    content: 'You are a concise visual describer. Describe the uploaded image clearly, mention notable subjects, setting, colors, style, and any readable text. If uncertain, say so.'\n  },\n  {\n    role: 'user',\n    content: [\n      {\n        type: 'image_url',\n        image_url: {\n          url: dataUrl,\n          detail: 'low'\n        }\n      },\n      {\n        type: 'text',\n        text: 'Describe this uploaded image in 120 words or less.'\n      }\n    ]\n  }\n];\n\nreturn {\n  json: {\n    fileName,\n    mimeType,\n    binaryPropertyName,\n    imageBytesEstimated: estimatedBytes,\n    dataUrlPrefix: dataUrl.slice(0, 80),\n    modelId,\n    modelName: modelId,\n    modelSelectionReason,\n    messages\n  }\n};"
      },
      "id": "build-vision-request",
      "name": "Build Vision Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        280
      ],
      "notes": "Converts the uploaded file into a data URL and builds a multimodal chat request"
    },
    {
      "parameters": {
        "resource": "llm",
        "operation": "generate",
        "llmModelId": "={{ $json.modelId }}",
        "llmPrompt": "Describe the uploaded image in 120 words or less.",
        "llmAdditionalFields": {
          "messagesJson": "={{ JSON.stringify($json.messages) }}",
          "maxTokens": 220,
          "tokenType": "spark"
        }
      },
      "id": "describe-image",
      "name": "Describe Image",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [
        700,
        280
      ],
      "notes": "Runs a vision-style Sogni LLM description request"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst description = String(result.content || '').trim();\n\nif (!description) {\n  throw new Error('The Sogni LLM response was empty.');\n}\n\nconst escapeHtml = (value) => value\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst fileName = String(result.fileName || 'uploaded image');\nconst modelId = String(result.modelId || 'unknown-model');\nconst descriptionHtml = escapeHtml(description).replace(/\\n/g, '<br>');\n\nreturn {\n  json: {\n    ...result,\n    completionTitle: 'Image Description',\n    completionMessage: `<strong>File:</strong> ${escapeHtml(fileName)}<br><br>${descriptionHtml}<br><br><small>Model: ${escapeHtml(modelId)}</small>`\n  }\n};"
      },
      "id": "format-description-page",
      "name": "Format Description Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        280
      ],
      "notes": "Builds the browser response page for the image description"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "={{ $json.completionTitle }}",
        "completionMessage": "={{ $json.completionMessage }}",
        "options": {}
      },
      "id": "show-description-page",
      "name": "Show Description Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1260,
        280
      ],
      "notes": "Shows the generated description using the built-in n8n form completion page"
    }
  ],
  "connections": {
    "Upload Image": {
      "main": [
        [
          {
            "node": "Build Vision Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Vision Request": {
      "main": [
        [
          {
            "node": "Describe Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Image": {
      "main": [
        [
          {
            "node": "Format Description Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Description Page": {
      "main": [
        [
          {
            "node": "Show Description Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
