examples/3-dynamic-model-selection.json
{
  "name": "Dynamic Model Selection - Choose Best Available Model",
  "nodes": [
    {
      "parameters": {
        "content": "## Dynamic Model Selection\n\nAutomatically select the best available model based on worker count for fastest generation.\n\n### Setup Steps:\n\n1. **Install n8n-nodes-sogni**\n   - Settings \u2192 Community Nodes \u2192 Install \u2192 `n8n-nodes-sogni`\n\n2. **Add Sogni Credentials**\n   - Create account at https://app.sogni.ai\n   - Add credentials in n8n: Sogni AI API\n\n3. **Click Test Workflow**\n   - Fetches all models, picks best, generates image\n\n### Customization:\n\n- **Selection Logic**: Modify Code node to pick by different criteria\n- **Prompt**: Change the prompt in Generate node\n- **Fallback**: Add error handling for no workers available",
        "height": 420,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-140, 100],
      "id": "sticky-setup-instructions",
      "name": "Setup Instructions"
    },
    {
      "parameters": {
        "content": "### Selection Logic\n\nSorts models by `workerCount`\nand picks the one with most\nactive workers for fastest\ngeneration times.\n\nAlso uses model's recommended\n`steps` and `guidance` settings.",
        "height": 180,
        "width": 200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [600, 100],
      "id": "sticky-logic-reference",
      "name": "Logic Reference"
    },
    {
      "parameters": {},
      "id": "start-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Click to start dynamic model selection"
    },
    {
      "parameters": {
        "resource": "model",
        "operation": "getAll"
      },
      "id": "get-models",
      "name": "Get All Models",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Fetches list of all available Sogni models"
    },
    {
      "parameters": {
        "jsCode": "// Find the model with the most workers\nconst models = $input.all();\nconst sortedModels = models.sort((a, b) => {\n  return (b.json.workerCount || 0) - (a.json.workerCount || 0);\n});\n\nconst bestModel = sortedModels[0].json;\n\nreturn {\n  json: {\n    modelId: bestModel.id,\n    modelName: bestModel.name,\n    workerCount: bestModel.workerCount,\n    recommendedSteps: bestModel.recommendedSettings?.steps || 20,\n    recommendedGuidance: bestModel.recommendedSettings?.guidance || 7.5\n  }\n};"
      },
      "id": "select-best-model",
      "name": "Select Best Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Picks model with most workers and gets its recommended settings"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "modelId": "={{ $json.modelId }}",
        "positivePrompt": "A majestic dragon flying over a medieval castle, epic fantasy art, detailed",
        "network": "fast",
        "additionalFields": {
          "negativePrompt": "blurry, low quality, cartoon",
          "steps": "={{ $json.recommendedSteps }}",
          "guidance": "={{ $json.recommendedGuidance }}",
          "numberOfMedia": 1,
          "tokenType": "spark"
        }
      },
      "id": "generate-with-best-model",
      "name": "Generate with Best Model",
      "type": "n8n-nodes-sogni.sogni",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "Generates image using dynamically selected model and settings"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get All Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Models": {
      "main": [
        [
          {
            "node": "Select Best Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Model": {
      "main": [
        [
          {
            "node": "Generate with Best Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
